/tehtävä2/nbproject/private/
/tehtävä5singleton/nbproject/private/
/tehtävä5singleton/build/
/tehtävä6Decorator/nbproject/private/
/tehtävä6Decorator/build/
/tehtävä7State/nbproject/private/
/tehtävä7State/build/