/tehtävä2/nbproject/private/
/tehtävä5singleton/nbproject/private/
/tehtävä5singleton/build/
/tehtävä6Decorator/nbproject/private/
/tehtävä6Decorator/build/
/tehtävä7State/nbproject/private/
/tehtävä7State/build/
/tehtävätemplateMethod/nbproject/private/
/tehtävätemplateMethod/build/
/Strategy9tehtava/nbproject/private/
/Strategy9tehtava/build/
/ChainofResponsibility10/nbproject/private/
/ChainofResponsibility10/build/
/Proxy11/nbproject/private/
/Proxy11/build/
/Mementto11/nbproject/private/
/Mementto11/build/
/visitor/nbproject/private/
/visitor/build/
/Builder14/nbproject/private/
/Builder14/build/
/Adapter/nbproject/private/
/Adapter/build/
/Prototype/nbproject/private/
/Prototype/build/
/Iterator/nbproject/private/
/Iterator/build/
/Prototype18/nbproject/private/
/Prototype18/build/
/Protype18/nbproject/private/
/Command/nbproject/private/
/Command/build/
/Facade21/nbproject/private/
/Facade21/build/